@import "./variables.scss";
*, ::before, ::after, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {background-color:$couleur4;}
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.8);
    background-color: rgb(235, 230, 230);
    margin: 0 auto;
    font-size: 0.8em;
    width: 100%;
    
  }
  main {
      padding: 0 10px;
      background-color: #fff;
      overflow: hidden;
    }
  img {width: 90%;}
  h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    color: green;
    text-transform: uppercase;
  }
  h2 {
      font-size: 1em;
      font-weight: bold;
      margin-top: 15px;
      color: green;
  }
 select {min-width: 80px;}

/* ------- HEADER ---------- */
header {
    padding: 0 0 15px 0;
    height: 11vh;
    .lignelogo {
        background-color: rgb(191, 243, 211);
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }
    .panier {
        position: absolute;
        top:65%;
        right:13px;
        transform: translateY(-50%); 
    }
    .nombre-panier {
        position: absolute;
        color: red;
        font-weight: bold;
        font-size: 0.7em;
        top:37%;
        right: 15px;
        transform: translateY(-50%); 
    }
    .logo {
    height: 30px;
    width: 100px;
    margin: 0 auto;
    }
}

/* ---------- BANNIERE ---------------*/
.banniere {
    background-color: rgb(191, 221, 179);
    margin-bottom: 5px;
    padding: 10px;
}
.banniere2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 236, 212);
    border-radius: 30px;
    p {
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        width: 80%;

    }
}
  /* ------- ZONE DE RECHERCHE ---------- */
  .searchform {
    
    form {
        width: 100%;
    }
    span {
        position: relative;
        margin-top: 4px;
        font-size: 0.8em;
        padding: 3px;
         
    }
  }

/* ------- CORPS ---------- */
.conteneurProduits {
    min-width: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-decoration: none;
    margin-bottom: 10px;
    transition: background-color,500ms;
    
    #id {
        visibility: none;
    }
}

.card1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    max-height: 150px;
    
}

.card2:hover {
    background-color: rgb(248, 245, 245);
    
}
.photo {
    width: 30%;
    max-width: 100px;
    min-width: 50px;
    margin: 0 5px;
    padding-top: 10px;
    &-mini {
        max-width: 70px;
    }
}
.prix {color: red; }
.nom {
    color : $couleur1 ;
    margin-top: 10px;
    font-weight: bold;
}
.description {color : rgba(0,0,0, 0.8); }
.descry {
    display: flex;
    flex-direction: column;
}
    
.groupe-prix-qte {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px; 
}
.groupe-qte, .groupe-prix {
    display:flex;
    flex-direction: row;
}

#cle, #prix-unitaire {
    display: none;
}





.btn-decrement {
    line-height: .5;
    border: none;
    padding: 5px;
    margin: 0 5px;
    
    &:active {
        outline: none;
    }
}
.boutons {

    padding: 0 5px;

    .btn {
        font-size: 1em;
        margin-top: 5px ;
    }
    
}

#total {
    padding : 10px;
    text-align: center;
    background-color: green;
    color : white;
    margin: 10px 0;
}
#form-client {
    background-color: rgba(181, 236, 199, 0.2);
}
.form {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    h2 {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        margin:10px 0 20px 0;
    }
}
.form-group {
    margin-bottom: 10px;
    position: relative;
}
.form-group i {
    position: absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    visibility: hidden;
}
.form-group small {
    visibility: hidden;
}
.form-group.success input {
   border-color : #2ecc71;
    
}
.form-group.error input {
    border:2px solid #e74c3c;
}
.form-group.success i.fa-check-circle {
    color : #2ecc71;
    visibility: visible;
}
.form-group.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}
.form-group.error small {
    color: #e74c3c;
    visibility: visible;
}
tr {
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
td {
    padding: 10px 20px;
    
}
.remerciement {
    border-bottom: 1px solid rgba(0,0,0,0.4);   
}
.synthese {
    display: flex;
    flex-direction: column;
 
}



#infos-client {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .2);
    
}
footer {
    height: 100px;
    background-color: rgba(0,0,0,0.8);
    margin-top : 10px;
}

.hidden {visibility: hidden;}
#btnAjoutPanier {
    width: 100%;
    margin: 0 auto;
    transition: visibility 5ms ease-out;
}
#checkboxAjoutPanier {
    visibility: hidden;
    &:checked + .notification {
        transform:translateY(-50%);
    }
}

.notification {
    background-color: aquamarine;
    padding: 10px;
    position:relative;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    transform:translateY(100%);
    transition: transform 400ms linear;
}

