*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  background: whitesmoke;
  font-size: 12px;
}

img {
  width: 100%;
}

/* ------- HEADER ---------- */
.header {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.lignelogo {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.panier {
  position: absolute;
  top: 65%;
  right: 13px;
  transform: translateY(-50%);
}

.nombre-panier {
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 0.7em;
  top: 37%;
  right: 15px;
  transform: translateY(-50%);
}

.logo {
  height: 30px;
  width: 100px;
  margin: 0 auto;
}

/* ------- ZONE DE RECHERCHE ---------- */
#search-form .form {
  padding: 0;
}
#search-form .form-group {
  flex-direction: row;
  align-items: center;
}
#search-form .form-control {
  position: relative;
  display: block;
  width: 100%;
}
#search-form .form-control:active {
  outline: none;
  border: none;
}
#search-form span {
  position: absolute;
  right: 5px;
}

/* ------- CORPS ---------- */
.conteneurProduits {
  min-width: 100vh;
}

.card {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: background-color, 500ms;
  border-radius: 20px;
  margin-bottom: 5px;
  flex-direction: row;
  /*
  @media only screen and (max-width: 768px){
      flex-direction: column;
  }
  */
}
.card:hover {
  background-color: gainsboro;
}
.card #id {
  visibility: none;
}
.card .photo {
  min-width: 60px;
  width: 30%;
  max-width: 100px;
  margin: 0 10px 0 0;
  padding-top: 10px;
}
.card .descry {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card .descry p {
  margin-bottom: 20px;
}
.card .descry .description {
  color: rgba(0, 0, 0, 0.8);
}
.card .nom {
  color: #9356DC;
  margin: 15px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
.card .prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.card .prix p {
  color: red;
  font-weight: bold;
  font-size: 1em;
}
.card .prix p:nth-child(2) {
  position: relative;
  font-size: 0.9em;
  top: -20%;
}

.card1:hover {
  background-color: #fff;
}

#btnAjoutPanier {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.btn-decrement {
  line-height: 0.5;
  border: none;
  padding: 5px;
  margin: 0 5px;
}

#total {
  padding: 10px;
  text-align: center;
  background-color: green;
  color: white;
  margin: 10px 0;
}

.form {
  padding: 15px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

.form-group small {
  visibility: hidden;
}

.form-group.success input {
  border-color: #2ecc71;
}

.form-group.error input {
  border: 2px solid #e74c3c;
}

.form-group.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-group.error small {
  color: #e74c3c;
  visibility: visible;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

td {
  padding: 10px 20px;
}

.infos {
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
